DJANGO_SETTINGS_MODULE=config.settings.local
SECRET_KEY=cambiar-esto-en-cada-entorno
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_ENGINE=django.db.backends.mysql
DB_NAME=portal_edocere
DB_USER=portal
DB_PASSWORD=portal
DB_HOST=127.0.0.1
DB_PORT=3306

LOG_LEVEL=INFO
